
<main id="app" class="container-fluid my-3 py-3">

    <section class="mt-1">
        <h1 class="text-center font-weight-bold">BIENVENIDO !</h1>
    </section>
      
    <section class="p-5 p-md-3 mx-md-5 text-lg-left mt-5">
       <div class="row">
           <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-3 mb-3">
            <app-opciones-grandes
                icon="taxi"
                titulo="Nuevo Viaje"
                texto="Registre un nuevo viaje">
            </app-opciones-grandes>
           </div>

           <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-3 mb-3">
            <app-opciones-grandes
                icon="hand-holding-usd"
                titulo="Cotizar Viaje"
                texto="Cotice un viaje, es aproximado, y se muestra la ruta mas larga disponible">
            </app-opciones-grandes>
           </div>

           <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-3 mb-3">
            <app-opciones-grandes
                icon="user-tie"
                titulo="Novedades Moviles"
                texto="Registre el alta o baja de un movil en frecuencia">
            </app-opciones-grandes>
           </div>
       </div>
             
            
    
    </section>
    
  </main>